#header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	display: relative;
	background-color: purple;
	
}
#header-img {
	position: relative;
	display: flex;
}

#nav-bar {
	position: relative;
	display: block;
	top: -110px;
	left: 0;
	width: 100%;
	text-align: center;
}
@media screen and (max-width:600px) {
.nav-link {
	font-style: italic;
	color: black;
	font-size: 12px;
}
}
.nav-link {
	font-style: italic;
	color: black;
	font-size: 20px;
}
ul li {
	display: inline;
}
#info {
	display: block;
	text-align: center;
	word-wrap: word-break;
	padding-left: 350px;
	padding-right: 350px;
	bottom: 50px;
}
#portfolio {
	text-align: center;
}
#contact {
	text-align: center;
}
h2 {
	font-size: 18px;
}
input[type=email] {
	border: 2px solid black;
	background-color: purple;
	color: white;
}

